In [69]:
import pandas as pd
import numpy as np
import requests
import json
from pandas.io.json import json_normalize

## We need lxml, html5 and beautifulsoup4 for web scraping

In [70]:
!pip install lxml html5lib beautifulsoup4

Requirement already satisfied: lxml in f:\anaconda\lib\site-packages (4.5.2)
Requirement already satisfied: html5lib in f:\anaconda\lib\site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in f:\anaconda\lib\site-packages (4.9.1)
Requirement already satisfied: six>=1.9 in f:\anaconda\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in f:\anaconda\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in f:\anaconda\lib\site-packages (from beautifulsoup4) (2.0.1)

WARNING: You are using pip version 20.2.3; however, version 20.3.3 is available.
You should consider upgrading via the 'f:\anaconda\python.exe -m pip install --upgrade pip' command.

## Scrape the wikipedia webpage using pandas
###            We can use the read_html(url) function to get webpage contents

In [104]:
list_web=pd.read_html(url)

## Get the dataframe required dataframe from a list of dataframes
#### read_html(url) returns a list of all the tables from the webpage. We require the first table from the webpage. So we will be using list_web[0]  for our dataframe

In [106]:
df_web=list_web[0]
df_web.head(3)

  Postal Code       Borough Neighbourhood
0         M1A  Not assigned  Not assigned
1         M2A  Not assigned  Not assigned
2         M3A    North York     Parkwoods

## Remove all the rows containing 'Not assigned' in its 'Borough' column

In [107]:
df_web=df_web[df_web['Borough']!='Not assigned']
df_web.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Since we deleted a few rows, we will be needing to reset the index

In [108]:
df_web.reset_index(inplace=True)
df_web.drop('index',axis=1,inplace=True)

F:\anaconda\lib\site-packages\pandas\core\frame.py:4160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## A final peek of our dataframe

In [109]:
df_web

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

## No of rows and columns in our dataframe

In [110]:
df_web.shape

(103, 3)